<table border="1">
  <thead>
    <tr>
      <th>Reg</th>
      <th>Make</th>
      <th>Model</th>
      <th>Owner</th>
      <th>Mechanic</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{ v.reg }}</td>
      <td>{{ v.make }}</td>
      <td>{{ v.model }}</td>
      <td>
        <div>{{ v.owner?.cid }}, {{ v.owner?.name }}</div>
      </td>
      <td>
        <div>
          {{ v.mechanic?.mid }}, {{ v.mechanic?.name }},
          {{ v.mechanic?.salary }}, {{ v.mechanic?.garage?.gid }},
          {{ v.mechanic?.garage?.location }}, {{ v.mechanic?.garage?.budget }}
        </div>
      </td>
      <td><button (click)="onUpdate(v.reg)">Update</button></td>
    </tr>
  </tbody>
</table>
