<div class="error-container">
  <div class="error-card">
    <div class="error-header">
      <h2><strong>Error</strong></h2>
    </div>
    <div class="error-body">
      <p>
        <strong>Status: </strong> <strong>{{ statusCode }}</strong>
      </p>
      <p>
        <strong>Message: </strong> <strong>{{ errorMessage }}</strong>
      </p>
    </div>
    <div class="error-footer">
      <br />
      <strong
        ><a [routerLink]="['/vehicles']" class="back-button">Home</a></strong
      >
    </div>
  </div>
</div>
